body {
  margin:0px;
  background-color:rgba(135, 168, 120, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:10px;
  width:171px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:189px;
  width:50px;
  height:41px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:84px;
  width:42px;
  height:50px;
  display:flex;
  transition:none;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:50px;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:84px;
  width:151px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:179px;
  width:162px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:11px;
  width:31px;
  height:29px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u974 label {
  left:0px;
  width:100%;
  height:100%;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:285px;
  width:50px;
  height:45px;
  display:flex;
  transition:none;
}
#u974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u974_img.selected {
}
#u974.selected {
}
#u974_img.disabled {
}
#u974.disabled {
}
#u974_img.selected.error {
}
#u974.selected.error {
}
#u974_img.selected.hint {
}
#u974.selected.hint {
}
#u974_img.selected.error.hint {
}
#u974.selected.error.hint {
}
#u974_img.mouseOver.selected {
}
#u974.mouseOver.selected {
}
#u974_img.mouseOver.selected.error {
}
#u974.mouseOver.selected.error {
}
#u974_img.mouseOver.selected.hint {
}
#u974.mouseOver.selected.hint {
}
#u974_img.mouseOver.selected.error.hint {
}
#u974.mouseOver.selected.error.hint {
}
#u974_img.mouseDown.selected {
}
#u974.mouseDown.selected {
}
#u974_img.mouseDown.selected.error {
}
#u974.mouseDown.selected.error {
}
#u974_img.mouseDown.selected.hint {
}
#u974.mouseDown.selected.hint {
}
#u974_img.mouseDown.selected.error.hint {
}
#u974.mouseDown.selected.error.hint {
}
#u974_img.mouseOver.mouseDown.selected {
}
#u974.mouseOver.mouseDown.selected {
}
#u974_img.mouseOver.mouseDown.selected.error {
}
#u974.mouseOver.mouseDown.selected.error {
}
#u974_img.mouseOver.mouseDown.selected.hint {
}
#u974.mouseOver.mouseDown.selected.hint {
}
#u974_img.mouseOver.mouseDown.selected.error.hint {
}
#u974.mouseOver.mouseDown.selected.error.hint {
}
#u974_img.focused.selected {
}
#u974.focused.selected {
}
#u974_img.focused.selected.error {
}
#u974.focused.selected.error {
}
#u974_img.focused.selected.hint {
}
#u974.focused.selected.hint {
}
#u974_img.focused.selected.error.hint {
}
#u974.focused.selected.error.hint {
}
#u974_img.selected.disabled {
}
#u974.selected.disabled {
}
#u974_img.selected.hint.disabled {
}
#u974.selected.hint.disabled {
}
#u974_img.selected.error.disabled {
}
#u974.selected.error.disabled {
}
#u974_img.selected.error.hint.disabled {
}
#u974.selected.error.hint.disabled {
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:5px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u974_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:271px;
  width:300px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:375px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:382px;
  width:300px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:464px;
  width:50px;
  height:43px;
  display:flex;
  transition:none;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:467px;
  width:300px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:75px;
  width:305px;
  height:69px;
  display:flex;
  opacity:0;
  transition:none;
}
#u980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:69px;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:170px;
  width:305px;
  height:69px;
  display:flex;
  opacity:0;
  transition:none;
}
#u981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:69px;
}
#u981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:366px;
  width:305px;
  height:69px;
  display:flex;
  opacity:0;
  transition:none;
}
#u982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:69px;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
