body {
  margin:0px;
  background-color:rgba(135, 168, 120, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:12px;
  width:76px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u283 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:73px;
  width:1px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
}
#u284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:161px;
  width:241px;
  height:203px;
  display:flex;
  transition:none;
}
#u285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:203px;
}
#u285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:375px;
  width:90px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:73px;
  width:119px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:123px;
  width:108px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:123px;
  width:57px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:right;
}
#u289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:375px;
  width:115px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:375px;
  width:197px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:428px;
  width:60px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:434px;
  width:54px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:589px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:595px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:595px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:595px;
  width:45px;
  height:40px;
  display:flex;
  transition:none;
}
#u297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:24px;
  height:32px;
  display:flex;
  transition:none;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:11px;
  width:31px;
  height:29px;
  display:flex;
  transition:none;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:561px;
  width:100px;
  height:28px;
  display:flex;
  transition:none;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:593px;
  width:42px;
  height:42px;
  display:flex;
  transition:none;
  font-size:21px;
}
#u301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:413px;
  width:96px;
  height:88px;
  display:flex;
  transition:none;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:88px;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:426px;
  width:68px;
  height:62px;
  display:flex;
  transition:none;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:62px;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:482px;
  width:35px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:482px;
  width:35px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
