/* src/pages/HomePage.css */

.home-page-container {
    height: 100%;
    width: 100%;
    /* No pongas background-color si quieres ver las partículas */
    overflow: hidden; /* Evita scroll en este contenedor */
}

/* EL LAYOUT CLAVE */
.main-content-layout {
    display: grid;
    /* Sidebar fijo (280px) - Contenido flexible (1fr) */
    grid-template-columns: 280px 1fr; 
    gap: 30px; 
    
    /* Padding lateral y superior, pero 0 abajo para no sumar altura */
    padding: 20px 20px 0 20px; 
    

    height: 100%;
    
    /* Importante: Hidden aquí asegura que el scroll lo gestionen los hijos (MapList y Sidebar) */
    overflow: hidden; 
}
