body {
  margin:0px;
  background-color:rgba(135, 168, 120, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(32, 78, 74, 0.9921568627450981);
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(32, 78, 74, 0.9921568627450981);
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:10px;
  width:193px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u89 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(219, 249, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:198px;
  width:300px;
  height:57px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(219, 249, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u90.hint {
}
#u90_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u90.disabled {
}
#u90_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u90.hint.disabled {
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:161px;
  width:133px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u91 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:24px;
  height:32px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(46, 147, 60, 0.8509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:520px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:274px;
  width:154px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
}
#u94 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(51, 51, 51, 0.9921568627450981);
}
#u95 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:255px;
  width:300px;
  height:17px;
  display:flex;
  opacity:0.75;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(51, 51, 51, 0.9921568627450981);
}
#u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
