body {
  margin:0px;
  background-color:rgba(135, 168, 120, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:10px;
  width:84px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:212px;
  width:208px;
  height:207px;
  display:flex;
  transition:none;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:207px;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:11px;
  width:31px;
  height:29px;
  display:flex;
  transition:none;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:rgba(217, 0, 27, 0.7843137254901961);
  text-align:center;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:496px;
  width:289px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:rgba(217, 0, 27, 0.7843137254901961);
  text-align:center;
}
#u219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:61px;
  background:inherit;
  background-color:rgba(46, 147, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:535px;
  width:140px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:61px;
  background:inherit;
  background-color:rgba(46, 147, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:535px;
  width:140px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:103px;
  width:323px;
  height:77px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#000000;
  text-align:center;
}
#u222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:24px;
  height:32px;
  display:flex;
  transition:none;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
