body {
  margin:0px;
  background-color:rgba(135, 168, 120, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  background:inherit;
  background-color:rgba(32, 78, 74, 0.9921568627450981);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(32, 78, 74, 0.9921568627450981);
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:51px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(32, 78, 74, 0.9921568627450981);
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:10px;
  width:141px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:405px;
  width:143px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PT Sans Bold", "PT Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:504px;
  width:73px;
  height:71px;
  display:flex;
  transition:none;
  color:#21AAF7;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:71px;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:523px;
  width:41px;
  height:33px;
  display:flex;
  transition:none;
  color:#D7D7D7;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  background:inherit;
  background-color:rgba(219, 249, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:446px;
  width:181px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  background:inherit;
  background-color:rgba(219, 249, 184, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u208.hint {
}
#u208_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u208.disabled {
}
#u208_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u208.hint.disabled {
}
#u209 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:73px;
  width:300px;
  height:300px;
  display:flex;
  transition:none;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:423px;
  width:72px;
  height:72px;
  display:flex;
  transition:none;
  color:#F59A23;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:183px;
  width:10px;
  height:10px;
  display:flex;
  transition:none;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:504px;
  width:73px;
  height:71px;
  display:flex;
  opacity:0;
  transition:none;
  color:#297045;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:71px;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:11px;
  width:24px;
  height:32px;
  display:flex;
  transition:none;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:11px;
  width:31px;
  height:29px;
  display:flex;
  transition:none;
  color:#FFFFFF;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
